<h1>About Us</h1>
<h2>Here is what will be available to you within this app.</h2>

<p>Once you have logged in, you will see your personal data on the screen.  The information available is:</p>

<ul>
	<li>Name of Wine</li>
	<li>Do you like the wine?</li>
	<li>Grape varietals used to make it</li>
	<li>Vintage year of it *</li>
	<li>Name of Winery that produced it</li>
	<li>Location of Winery</li>
	<li>Foods that pair well with the Wine *</li>
	<li>Where you have found the Wine *</li>
	<li>Price last paid for the Wine *</li>
	<li>If you currently have it in your personal stock *</li>
</ul>

* marks optional fields