<table id="wine">
<tr>
	<th>Wine Name</th>
	<th>Grape Varietals</th>
	<th>Like?</th>
	<th>Winery Name</th>
	<th>Winery Location</th>
	<th>Vintage<br />Year</th>
	<th>Food Pairings</th>
	<th>Where Found</th>
	<th>Cost</th>
	<th>In Your<br />Stock?</th>
</tr>
<tr>
	<td>White Zinfindel</td>
	<td>red Zinfandel</td>
	<td>No</td>
	<td>Sutter Home</td>
	<td>Napa Valley, CA</td>
	<td>2012</td>
	<td>None</td>
	<td></td>
	<td></td>
	<td>No</td>
</tr>
</table>
